.popup-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7px;
    float: right;
    cursor: pointer;
    z-index: 10000;
    color: #fff;
    top: 3px;
    font-size: 30px;
}
.backimg{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    
}

.popup-close:hover{
    color: red;
}

@media only screen and (max-width: 992px) {
    #ouibounce-modal{
        display: none;
    }
  }